  <!-- Start Footer Area -->
  <footer class="footer-area footer-eleven">
      <!-- Start Footer Top -->
      <div class="footer-top">
          <div class="container">
              <div class="inner-content">
                  <div class="row">
                      <div class="col-lg-5 col-md-6 col-12">
                          <!-- Single Widget -->
                          <div class="footer-widget f-about">
                              <div class="logo">
                                  <a href="/">
                                      <!-- <img src="assets/images/logo.svg" alt="#" class="img-fluid" /> -->

                                      <h3>Grow</h3>
                                  </a>
                              </div>
                              <p>
                                  Innovation is our DNA
                              </p>
                              <p class="copyright-text">
                                  <span>© 2022 Grow</span>
                              </p>
                              <p class="copyright-text disp-0">
                                  <span>© 2024 Ayro UI.</span>Designed and Developed by
                                  <a href="javascript:void(0)" rel="nofollow"> Ayro UI </a>
                              </p>
                          </div>
                          <!-- End Single Widget -->
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <!-- Single Widget -->
                          <div class="footer-widget f-link">
                              <h5>Career</h5>
                              <ul>
                                  <li><a class="page-scroll" href="#services">We are Hiring</a></li>

                              </ul>
                          </div>
                          <!-- End Single Widget -->
                      </div>
                      <div class="col-lg-4 col-md-6 col-12">
                          <!-- Single Widget -->
                          <div class="footer-widget f-link">
                              <h5>Support</h5>
                              <ul>
                                  <li><a href="tel:09099614298">Helpline</a></li>
                                  <li><a href="mailto:info@growng.company">Email</a></li>

                              </ul>
                          </div>
                          <!-- End Single Widget -->
                      </div>
                      <div class="col-lg-4 col-md-6 col-12 disp-0">
                          <!-- Single Widget -->
                          <div class="footer-widget newsletter">
                              <h5>Subscribe</h5>
                              <p>Subscribe to our newsletter for the latest updates</p>
                              <form action="#" method="get" target="_blank" class="newsletter-form">
                                  <input name="EMAIL" placeholder="Email address" required="required" type="email" />
                                  <div class="button">
                                      <button class="sub-btn">
                                          <i class="lni lni-envelope"></i>
                                      </button>
                                  </div>
                              </form>
                          </div>
                          <!-- End Single Widget -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/ End Footer Top -->
  </footer>
  <!--/ End Footer Area -->



  <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
  </a>